# Do not leak cache
__cache/*

# Do not include 7zip
7z.*

# Do not include samples or unwanted fog files
*.fog
samples

# Don't include pycache
__pycache__
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/*/__pycache__

# Do not include not necessary directories
point_this_to_your_documents_ts2_folder*
out

# Do not include any release
*_release.7z